<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Profile</title>
</head>
<body>
<div layout:fragment="content" style="padding: 1px 20%;" >
    <div class="box" style="border: 1px solid;" >
        <div class="box-header with-border">
            <h2 style="text-align: center;">Enter Profile Details</h2>
        </div>
        <form data-toggle="validator" role="form" th:object="${user}" th:action="@{/user/profile}" method="post"  style="padding: 0 10%;">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" required class="form-control" th:field="*{firstName}" id="firstName"
                           placeholder="First Name"/>
                </div>
                <div class="form-group">
                    <label for="middleName">Middle Name</label>
                    <input type="text" class="form-control" th:field="*{middleName}" id="middleName"
                           placeholder="Middle Name"/>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" th:field="*{lastName}" id="lastName"
                           placeholder="Last Name"/>
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="number" maxlength="10" class="form-control" th:field="*{mobile}" id="mobile"
                           placeholder="Mobile"/>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" th:field="*{city}" id="city" placeholder="City"/>
                </div>
                <div class="form-group">
                    <label for="companyName">Company Name</label>
                    <input type="text" class="form-control" th:field="*{companyName}" id="companyName"
                           placeholder="Company Name"/>
                </div>
                <div class="form-group">
                    <label for="companyAddress">Company Address</label>
                    <input type="text" class="form-control" th:field="*{companyAddress}" id="companyAddress"
                           placeholder="Company Address"/>
                </div>
                <div class="form-group">
                    <label for="username">Login Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Login Username"
                           pattern="[A-Za-z]+" minlength="4" th:field="*{username}" required/>
                </div>
                <div class="form-group">
                    <label for="password">Login Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Login Password"
                           minlength="4" th:field="*{password}" required/>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
