<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Transactions</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Transactions</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Transactions</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="d-flex justify-content-between box-header with-border">
            <div class="pull-left">
                <a href="/transactions/add" type="button" class="btn btn-box-tool">
                    <is
                            class="glyphicon glyphicon-plus fa fa-plus"></is>
                </a>
                <br clear="all"/>
            </div>
            <form th:action="@{/transactions/search}" method="get">
                <div class="pull-right">
                    <input type="text" name="search" th:value="${search}" placeholder="Search.....">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="box-body no-padding table-scroll">
            <table class="table table-striped">
                <tr>
                    <th width="7%"></th>
                    <th>Transaction Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Received Date</th>
                </tr>
                <tr th:each="row : ${list}">
                    <td>
                        &nbsp;
                        <a th:href="${'/transactions/edit/' + row.id}" class="glyphicon glyphicon-pencil">&nbsp;</a>
                        <a th:href="${'/transactions/delete/' + row.id}" class="glyphicon glyphicon-trash"></a>
                    </td>
                    <td th:text="${row.date}"></td>
                    <td th:text="${row.description}"></td>
                    <td th:text="${row.amount}"></td>
                    <td th:text="${row.receivedDate}"></td>
                </tr>
                <tr th:if="${list.isEmpty()}">
                    <td></td>
                    <td colspan="7"><b>No Data Found</b></td>
                </tr>
            </table>
        </div>
        <div th:if="${!list.isEmpty()}" class="box-footer clearfix">
            <ul class="badge label-primary pagination pagination-sm no-margin pull-center">
                <li style="font-size: x-large;">Total Amount : <b th:text="${total}"></b></li>
            </ul>
            <ul class="pagination pagination-sm no-margin pull-right">
                <li>
                    <a th:href="${search == null ? '/transactions/index?pageNumber=' + (currentIndex-1) : '/transactions/search?search=' + search + '&pageNumber=' + (currentIndex-1)}"
                       th:class="${currentIndex == 1 ? 'disabled-link' : ''}">Previous</a></li>
                <li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}"
                    th:class="${p == currentIndex ? 'active' : ''}">
                    <a th:href="${search == null ? '/transactions/index?pageNumber=' + p : '/transactions/search?search=' + search + '&pageNumber=' + p}"
                       th:text="${p}"></a></li>
                <li>
                    <a th:href="${search == null ? '/transactions/index?pageNumber=' + (currentIndex+1) : '/transactions/search?search=' + search + '&pageNumber=' + (currentIndex+1)}"
                       th:class="${currentIndex == endIndex ? 'disabled-link' : ''}">Next</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
