<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>School Registration</title>
</head>
<body>
<section layout:fragment="header">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">School Registration</li>
    </ol>
</section>
<div layout:fragment="content" style="padding: 30px 20%;">
    <div class="box" style="border: 1px solid;">
        <div class="box-header with-border">
            <h2 style="text-align: center;">Enter School Details</h2>
        </div>
        <form data-toggle="validator" role="form" th:object="${school}" th:action="@{/schools/save}" method="post" style="padding: 0 10%;">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="name">School Name</label>
                    <input type="text" required pattern="^[A-Za-z]*[A-Za-z][A-Za-z0-9-. _]*$" class="form-control" th:field="*{name}" id="name" placeholder="Name"/>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" th:field="*{address}" id="address" placeholder="Address"/>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <label for="deliveryDate">Delivery Date</label>
                    <input type="text" class="form-control" id="deliveryDate" th:field="*{deliveryDate}"
                           pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])-(0[1-9]|1[012])-[0-9]{4}"
                           placeholder="DD-MM-YYYY"/>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
