<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Schools</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Schools</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Schools</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="d-flex justify-content-between box-header with-border">
            <div class="pull-left">
                <a href="/schools/add" type="button" class="btn btn-box-tool"><i
                        class="glyphicon glyphicon-plus fa fa-plus"></i></a>
                <br clear="all"/>
            </div>
            <form th:action="@{/schools/search}" method="get">
                <div class="pull-right">
                    <input type="text" name="search" th:value="${search}" placeholder="Search.....">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="box-body no-padding table-scroll">
            <table class="table table-striped">
                <tr>
                    <th width="7%"></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Registration Date</th>
                    <th>Delivery Date</th>
                    <th>Total Student</th>
                    <th>Total Amount</th>
                    <th></th>
                </tr>
                <tr th:each="row : ${list}">
                    <td>
                        &nbsp;
                        <a th:href="${'/schools/edit/' + row.id}" class="glyphicon glyphicon-pencil">&nbsp;</a>
                        <a th:href="${'/schools/delete/' + row.id}" class="glyphicon glyphicon-trash"></a>
                    </td>
                    <td th:text="${row.name}"></td>
                    <td th:text="${row.email}"></td>
                    <td th:text="${#dates.format(row.created, 'dd-MMM-yyyy hh:mm:ss')}"></td>
                    <td th:text="${row.deliveryDate}"></td>
                    <td th:text="${row.totalStudent}"></td>
                    <td th:text="${row.totalAmount}"></td>
                    <td>
                        <a th:if="${row.totalAmount > 0}" th:href="${'/schools/invoice/' + row.id}" target="_blank" style="text-decoration: none;">
                            <button type="button" class="btn btn-default" style="color: #3c8dbc; padding: 2px 7px">Invoice</button>
                        </a>
                    </td>
                </tr>
                <tr th:if="${list.isEmpty()}">
                    <td></td>
                    <td colspan="4"><b>No Data Found</b></td>
                </tr>
            </table>
        </div>
        <div th:if="${!list.isEmpty()}" class="box-footer clearfix">
            <ul class="badge label-primary pagination pagination-sm no-margin pull-center">
                <li style="font-size: x-large;">Total Amount : <b th:text="${total}"></b></li>
            </ul>
            <ul class="pagination pagination-sm no-margin pull-right">
                <li>
                    <a th:href="${search == null ? '/schools/index?pageNumber=' + (currentIndex - 1) : '/schools/search?search=' + search + '&pageNumber=' + (currentIndex-1)}"
                       th:class="${currentIndex == 1 ? 'disabled-link' : ''}">Previous</a></li>
                <li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}"
                    th:class="${p == currentIndex} ? 'active' : ''">
                    <a th:href="${search == null ? '/schools/index?pageNumber=' + p : '/schools/search?search=' + search + '&pageNumber=' + p}"
                       th:text="${p}"></a>
                </li>
                <li>
                    <a th:href="${search == null ? '/schools/index?pageNumber=' + (currentIndex + 1) : '/schools/search?search=' + search + '&pageNumber=' + (currentIndex+1)}"
                       th:class="${currentIndex == endIndex ? 'disabled-link' : ''}">Next</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
