<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Add or Update Stocks</title>
</head>
<body>
<section layout:fragment="header">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Add or Update Stocks</li>
    </ol>
</section>
<div layout:fragment="content" style="padding: 30px 20%;">
    <form data-toggle="validator" role="form" th:object="${item}" th:action="@{/stocks/save}"
          method="post" enctype="multipart/form-data">
        <div class="box" style="padding: 0 50px;">
            <div class="box-header with-border">
                <h2 style="text-align: center;">Enter Stocks Details</h2>
            </div>

            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{receipt}"/>
                <input type="hidden" th:field="*{designImg}"/>
                <div class="form-group">
                    <label for="purchaseDate">Purchase Date</label>
                    <input type="text" class="form-control" id="purchaseDate" th:field="*{purchaseDate}"
                           pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])-(0[1-9]|1[012])-[0-9]{4}"
                           placeholder="DD-MM-YYYY"/>
                </div>
                <div class="form-group">
                    <label for="designName">Design Name</label>
                    <input type="text" required class="form-control" th:field="*{design}" id="designName"
                           placeholder="Design Name"/>
                </div>
                <div class="form-group">
                    <label for="color">Color</label>
                    <input type="color" required th:field="*{color}" id="color"
                           placeholder="Color" value="#ff0000"/>
                </div>
                <div class="form-group">
                    <label for="designImage">Upload Design Image</label>
                    <input type="file" id="designImage" class="form-control" name="designImage"
                           accept="image/*">
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="text" required class="form-control" th:field="*{quantity}" id="quantity"
                           placeholder="Quantity"/>
                </div>
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" id="amount" th:field="*{amount}"
                           placeholder="Amount"/>
                </div>
                <div class="form-group">
                    <label for="receiptImg">Upload Receipt</label>
                    <input type="file" id="receiptImg" class="form-control" name="receiptImg"
                           accept="image/*">
                </div>
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        <script type="text/javascript" src="/cust-script/gohelsons.js"></script>
    </form>
</div>
</body>
</html>
