<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Dashboard</title>
    <style>
        .disabled-link {
          opacity: 0.65;
          pointer-events: none;
        }
    </style>
</head>
<body>

<section layout:fragment="header">
    <h1>Students and customers</h1>
</section>

<div layout:fragment="content">
  <div class="box">
     <div class="box-header with-border">
         <form th:action="@{/search}" method="get">
         <h3 class="box-title"></h3>
         <div class="box-tools pull-right">
             <input type="text" name="search" th:value="${search}" placeholder="Search.....">
             <button type="submit"><i class="fa fa-search"></i></button>
         </div>
         </form>
     </div>
     <div class="box-body no-padding">
         <table class="table table-striped">
             <tr>
                 <th width="7%"></th>
                 <th>School Name</th>
                 <th>Name</th>
                 <th>Gender</th>
                 <th>Address</th>
                 <th>Delivery Date</th>
                 <th>Registration Date</th>
                 <th></th>
             </tr>
             <tr th:each="row : ${list}">
                 <td>
                    &nbsp; 
                    <a th:href="${row.school == null ? '/customers/edit/' + row.id : '/students/edit/' + row.id}" class="glyphicon glyphicon-pencil">&nbsp;</a> 
                    <a th:href="${row.school == null ? '/customers/delete/'  + row.id : '/students/delete/' + row.id}" class="glyphicon glyphicon-trash"></a>
                 </td>
                 <td th:text="${row.school == null ? 'Customer' : row.school.name}"></td>
                 <td th:text="${row.name}"></td>
                 <td th:text="${row.school == null ? (row.gender == 'male' ? 'Male' : 'Female') : (row.gender == 'male' ? 'Boy' : 'Girl') }"></td>
                 <td th:text="${row.address}"></td>
                 <td th:text="${row.deliveryDate}"></td>
                 <td th:text="${#dates.format(row.created, 'dd-MMM-yyyy hh:mm:ss')}"></td>
                 <td>
                     <button type="button" class="btn btn-primary" style="padding: 2px 7px;" data-toggle="modal" th:attr="data-target=${'#modal'+row.id}">Measurement</button>
                     <div class="modal fade" th:attr="id=${'modal'+row.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                         <div class="modal-dialog modal-dialog-centered" role="document">
                             <div class="modal-content">
                                 <div class="modal-header">
                                     <h1 class="modal-title">Measurement</h1>
                                 </div>
                                 <div class="box">
                                     <div class="box-header with-border">
                                         <h3 class="box-title" th:if="${row.gender == 'male' && row.school == null}">Shirt Measurement Details</h3>
                                         <h3 class="box-title" th:if="${row.gender =='female' && row.school == null}">Kurti Measurement Details</h3>
                                         <h3 class="box-title" th:if="${row.school != null}">T-Shirt Measurement Details</h3>
                                     </div>

                                     <div class="box-body">
                                         <div class="form-group col-sm-3">
                                             <label>Length</label>
                                             <p th:text="${row.shirtLength}"></p>
                                         </div>
                                         <div class="form-group col-sm-3">
                                             <label>Chest</label>
                                             <p th:text="${row.chest}"></p>
                                         </div>
                                         <div class="form-group col-sm-3" th:if="${row.school == null}">
                                             <label>Shoulder</label>
                                             <p th:text="${row.shoulder}"></p>
                                         </div>
                                         <div class="form-group col-sm-3" th:if="${row.school == null}">
                                             <label>Sleeve</label>
                                             <p th:text="${row.sleeve}"></p>
                                         </div>
                                         <div class="form-group col-sm-3" id="div-front" th:if="${row.gender == 'male' && row.school == null}">
                                             <label>Front</label>
                                             <p th:text="${row.front}"></p>
                                         </div>
                                         <div class="form-group col-sm-3" id="div-collar" th:if="${row.gender == 'male' && row.school == null}">
                                             <label>Collar</label>
                                             <p th:text="${row.collar}"></p>
                                         </div>
                                         <div class="form-group col-sm-3" id="div-culf" th:if="${row.gender == 'male' && row.school == null}">
                                             <label>Culf</label>
                                             <p th:text="${row.culf}"></p>
                                         </div>
                                         <div class="form-group col-sm-3" id="div-kurti-waist" th:if="${row.gender == 'female' && row.school == null}">
                                             <label>Waist (Kamar)</label>
                                             <p th:text="${row.kurtiWaist}"></p>
                                         </div>
                                         <div class="form-group col-sm-3" id="div-kurti-seat" th:if="${row.gender == 'female' && row.school == null}">
                                             <label>Seat</label>
                                             <p th:text="${row.kurtiSeat}"></p>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="box">
                                     <div class="box-header with-border">
                                         <h3 class="box-title" th:if="${row.gender == 'male' && row.school == null}">Pent Measurement Details</h3>
                                         <h3 class="box-title" th:if="${row.gender =='female' && row.school == null}">Salwar Measurement Details</h3>
                                         <h3 class="box-title" th:if="${row.school != null}">Jeans Measurement Details</h3>
                                     </div>

                                     <div class="box-body">
                                         <div class="form-group col-sm-3">
                                             <label>Length</label>
                                             <p th:text="${row.pentLength}"></p>
                                         </div>
                                         <div class="form-group col-sm-3">
                                             <label>Waist (Kamar)</label>
                                             <p th:text="${row.waist}"></p>
                                         </div>
                                         <div class="form-group col-sm-3" id="div-seat" th:if="${row.gender == 'male' && row.school == null}">
                                             <label>Seat</label>
                                             <p th:text="${row.seat}"></p>
                                         </div>
                                         <div class="form-group col-sm-3" id="div-hip" th:if="${row.gender == 'male' && row.school == null}">
                                             <label>Hip (Jangh)</label>
                                             <p th:text="${row.hip}"></p>
                                         </div>
                                         <div class="form-group col-sm-3" id="div-knee" th:if="${row.gender == 'male' && row.school == null}">
                                             <label>Knee (Gothan)</label>
                                             <p th:text="${row.knee}"></p>
                                         </div>
                                         <div class="form-group col-sm-3" id="div-ankleRound" th:if="${row.gender == 'male' && row.school == null}">
                                             <label>Ankle Round (Moli)</label>
                                             <p th:text="${row.ankleRound}"></p>
                                         </div>
                                         <div class="form-group col-sm-3" id="div-inseam" th:if="${row.gender == 'male' && row.school == null}">
                                             <label>Inside</label>
                                             <p th:text="${row.inseam}"></p>
                                         </div>
                                         <div class="form-group col-sm-3" id="div-crotch" th:if="${row.gender == 'male' && row.school == null}">
                                             <label>Crotch (Jolo)</label>
                                             <p th:text="${row.crotch}"></p>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="modal-footer">
                                     <button type="button" class="btn btn-secondary" style="padding: 2px 7px" data-dismiss="modal">Close</button>
                                 </div>
                             </div>
                         </div>
                     </div>
                     &nbsp;
                     <a th:href="${'/payment/' + row.id}" style="text-decoration: none;"><button type="button" class="btn btn-primary" style="padding: 2px 7px" th:text="${row.payment}"></button></a>
                 </td>
             </tr>
             <tr th:if="${list.isEmpty()}">
                 <td></td>
                 <td colspan="6"><b>No Data Found</b></td>
              </tr>
         </table>
     </div>
    <div th:if="${!list.isEmpty()}" class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li>
                <a th:href="${search == null ? '/?pageNumber=' + (currentIndex-1) : '/search?search=' + search + '&pageNumber=' + (currentIndex-1)}"
                   th:class="${currentIndex == 1 ? 'disabled-link' : ''}">Previous</a></li>
            <li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}" th:class="${p == currentIndex ? 'active' : ''}">
                <a th:href="${search == null ? '/?pageNumber=' + p : '/search?search=' + search + '&pageNumber=' + p}" th:text="${p}"></a></li>
            <li>
                <a th:href="${search == null ? '/?pageNumber=' + (currentIndex+1) : '/search?search=' + search + '&pageNumber=' + (currentIndex+1)}"
                   th:class="${currentIndex == endIndex ? 'disabled-link' : ''}">Next</a></li>
        </ul>
    </div>
  </div>
</div>
</body>
</html>